@{
    ViewBag.Title = "Payment";
}

@model BTL_BookShop.Models.Entities.GioHangViewModel
@using BTL_BookShop.Models.Function

@using BTL_BookShop.Models.Entities


<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Koparion – Book Shop Bootstrap 4 Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/Content/favicon.png">
    <!-- all css here -->
    <!-- bootstrap v3.3.6 css -->
    <link rel="stylesheet" href="/Content/css/bootstrap.min.css">
    <!-- animate css -->
    <link rel="stylesheet" href="/Content/css/animate.css">
    <!-- meanmenu css -->
    <link rel="stylesheet" href="/Content/css/meanmenu.min.css">
    <!-- owl.carousel css -->
    <link rel="stylesheet" href="/Content/css/owl.carousel.css">
    <!-- font-awesome css -->
    <link rel="stylesheet" href="/Content/css/font-awesome.min.css">
    <!-- flexslider.css-->
    <link rel="stylesheet" href="/Content/css/flexslider.css">z
    <!-- chosen.min.css-->
    <link rel="stylesheet" href="/Content/css/chosen.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="/Content/style.css">
    <!-- responsive css -->
    <link rel="stylesheet" href="/Content/css/responsive.css">
    <!-- modernizr css -->
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>



<body class="cart">
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Add your site or application content here -->
    <!-- breadcrumbs-area-start -->
    <div class="breadcrumbs-area mb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumbs-menu">
                        <ul>
                            <li><a href="~/Home/Index/">Home</a></li>
                            <li><a href="~/Cart/Index/" class="active">cart</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumbs-area-end -->
    <!-- entry-header-area-start -->
    <div class="entry-header-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="entry-header-title">
                        <h2>Cart</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- entry-header-area-end -->

    @if (Model != null && Model.Cart != null)
    {
    <!-- cart-main-area-start -->
        <div class="cart-main-area mb-70">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <form action="#">
                            <div class="table-content table-responsive">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="product-thumbnail">Image</th>
                                            <th class="product-name">Product</th>
                                            <th class="product-price">Price</th>
                                            <th class="product-quantity">Quantity</th>
                                            <th class="product-subtotal">Total</th>
                                            <th class="product-update">Update</th>
                                            <th class="product-remove">Remove</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            var listCart = Model.Cart.ListItem;
                                            var listBook = new F_Book().getAll();
                                            var query = (from book in listBook
                                                         join cart in listCart on book.ID equals cart.ItemID
                                                         select new
                                                         {
                                                             book.ID,
                                                             book.Image,
                                                             book.Name,
                                                             book.PromotionPrice,
                                                             cart.Quantity,
                                                             total = cart.Quantity * book.PromotionPrice
                                                         });
                                        }
                                        @foreach (var Ca in query)
                                        {
                                            <tr>
                                                <td class="product-thumbnail"><a href="#"><img src="@Ca.Image" alt="man" /></a></td>
                                                <td class="product-name"><a href="#">@Ca.Name</a></td>
                                                <td class="product-price"><span class="amount">@Ca.PromotionPrice</span></td>

                                                <td class="product-quantity"> <input type="text" value="@Ca.Quantity" id="soluong">   </td>

                                                <td class="product-subtotal">@Ca.total</td>
                                                <td class="product-name">
                                                    <a href="javascript:;" onclick="SuaSanPham(@Ca.ID)">Cập nhật</a>

                                                </td>
                                                <td class="product-button"><a href="javascript:;" onclick="XoaSanPham(@Ca.ID)"><i class="fa fa-times"></i></a></td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="cart_totals">
                            <h2>Cart Totals</h2>
                            <table>
                                <tbody>
                                    @{
                                        long sum = 0;
                                        foreach (var u in query)
                                        {
                                            sum = sum + (long)u.total;
                                        }

                                    }
                                    <tr class="cart-subtotal">
                                        <th>Subtotal</th>
                                        <td>
                                            <span class="amount"> @sum</span>
                                        </td>
                                    </tr>

                                   
                                    <tr class="order-total">
                                        <th>Total</th>
                                        <td>
                                            <strong>
                                                <span class="amount">@(@sum)</span>
                                            </strong>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                         
                        </div>
                    </div>
                </div>
            </div>
        </div>
                                        }
    <!-- cart-main-area-end -->
    <!-- entry-header-area-start -->
    <div class="entry-header-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="entry-header-title">
                        <h2>CheckOut</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- entry-header-area-end -->
    <!-- Form nhập địa chỉ-->
    <div class="cart-main-area mb-70">
        <div class="container">
            <div class="section group">
                <div class="col-md-6">
                    @using (Html.BeginForm("Checkout", "Cart", FormMethod.Post))
            {
                        <div class="form-group">
                            <label>Người nhận</label>
                            <input name="shipName" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Điện thoại</label>
                            <input name="mobile" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Địa chỉ</label>
                            <input name="address" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input name="email" class="form-control" />
                        </div>
                        <button type="submit" class="btn">Gửi đơn hàng</button>
                    }
                </div>

            </div>
            </div>
        </div>

</body>
